@import 'commons';
:host {
    nav {
        padding: 0;
        background-color: $headerBackgroundColor !important;
    }
    .dropdown-menu {
        background-color: $headerBackgroundColor;
    }
}