@import 'commons';
:host {
    table {
        thead {
            background: #aaaaaa;
        }
        tbody {
            background: #fafafa
        }
        tfoot {
            background: #faaaaa;
        }
    }
}