@import 'commons';
:host {
  table {
    thead {
      .table-header {
        th {
          i {
            width: 1em;
          }
        }
        background: $tblHeaderBackground;
      }
    }
    tbody {
      background: $tblBodyBackground;
    }
    tfoot {
      background: $tblFooterBackground;
    }
  }
}
