$headerBackgroundColor: #00ff00;
$sidebarBackgroundColor:#ff00ff;
$mainBackgroundColor: #aaffaa;
$footerBackgroundColorl: #fff000;
$pageTitleBackgroundColor:aqua;
$tileTitleBackgroundColor: linear-gradient(to bottom right, red, yellow, green);
$tileBodyBackgroundColor:linear-gradient(to bottom , #f5f5f5, yellow,#fafafa );
