$headerBackgroundColor: #3e72da;
$sidebarBackgroundColor:#b3e3f4;
$mainBackgroundColor: #dedfe6;
$footerBackgroundColorl: #3e72da;
// $pageTitleBackgroundColor:aqua;
$tileTitleBackgroundColor: linear-gradient(to bottom right, rgb(204, 82, 82), rgb(174, 224, 194), rgb(28, 0, 128));
$tileBodyBackgroundColor:linear-gradient(to bottom , #f5f5f5, rgb(161, 215, 231),#fafafa );
